.admin__dashboard {
    border: 2px solid var(--color-black);
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem 1rem var(--color-black-light);
}
.dashboard__container {
    width: var(--container-width-md);
    display: grid;
    grid-template-columns: 30% 67%;
    gap: 3%;
    place-items: center;
}
.dashboard__sidebar {
    display: flex;
    flex-direction: column;
}
.dashboard__sidebar a {
    text-decoration: none;
    font-size: 1.2rem;
    background: var(--color-black-light);
    width: 20rem;
    line-height: 5;
    border-bottom: 2px solid var(--color-white-light);
    color: var(--color-white);
    transition: var(--transition);
    font-weight: bold;
    cursor: pointer;
}
.dashboard__sidebar a:hover {
    background: var(--color-white);
    border: 2px solid var(--color-black);
    color: var(--color-black);
    font-family: 'Montserrat', sans-serif;
}
.dashboard__show-manage {
    border: 3px solid var(--color-black);
    border-radius: 1rem;
    width: 100%;
    height: fit-content;
}

@media screen and (max-width: 1500px) {
    .dashboard__container {
        width: fit-content;
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .admin__dashboard {
        /* margin-left: 27rem; */
        width: 45rem;
        height: 100%;
    }
}
@media screen and (max-width: 1024px)  {
    .home__page-profile {
        display: none;
    }
    .home__page-container {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .dashboard__container {
        width: fit-content;
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .admin__dashboard {
        /* margin-left: 27rem; */
        width: 45rem;
        height: 100%;
    }
}
