.home__page {
    display: grid;
    place-items: center;
}
.home__page-container {
    width: var(--container-width-lg);
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
}
.home__profile-info {
    border: 2px solid var(--color-black);
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--color-black-light);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.home__profile-bg {
    position: relative;
    background: var(--color-black-light);
    height: 5rem;
    width: 100%;
}
.home__profile-top {
    display: flex;
}
.home__profile-image {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 12rem 12rem;
    border: 2px solid var(--color-black);
    overflow: hidden;
    z-index: 1;
    margin-left: 6rem;
    margin-top: 2rem;
}
.home__profile-image img {
    width: 100%;
    height: fit-content;
}

.home__profile-content {
    margin-top: 3rem;
}
.profile__body-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-top: 1rem;
    margin-right: 2rem;
}
.content__profile strong{
    font-size: 0.7rem;
    font-style: normal;
}
.content__profile strong:hover {
    color: var(--color-blue-light);
}
.profile__log-out {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.profile__log-out button {
    padding: 0.9rem;
    background: var(--color-black);
    border-radius: 1rem;
    color: var(--color-white);
    transition: var(--transition);
    cursor: pointer;
}
.profile__log-out button:hover {
    background: var(--color-secondary);
    margin-top: -0.1rem;
    box-shadow: 0 0 1rem 1rem var(--color-black-light);
}
.home__profile-title h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.home__profile-title span {
    margin-bottom: 1rem;
}
.home__page-posts {
    border: 2px solid var(--color-black-light);
    height: fit-content;
    border-radius: 2rem;
}
.create__posts-avatar {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.create__posts-avatar img {
    width: 100%;
    height: fit-content;
}
.create__posts-input input {
    border: 2px solid var(--color-black);
    border-radius: 0.5rem;
    border-right: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 1.55rem;
    width: 20rem;
    color: var(--color-black-light);
}
.create__posts-input button {
    background: var(--color-black);
    color: var(--color-white);
    padding: 0.3rem;
    border-radius: 0.5rem;
    border-left: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.create__posts {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: var(--container-width-lg);
}
.create__posts-avatar {
    margin-right: 10em;
}
.create__post-types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    margin-right: 6rem;
}
.create__post-types svg {
    font-size: 2rem;
    margin-right: 0.2rem;
    font-weight: 700;
}
.create__post-types small {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 1rem;
}
.posts__icon-video svg {
    color: var(--color-red);
}
.posts__icon-photo svg {
    color: var(--color-blue);
}
.posts__icon-date svg {
    color: var(--color-yellow);
}
.posts__lists {
    border: 2px solid var(--color-black-light);
    display: grid;
    place-items: center;
    margin-top: 3rem;
    padding: 1rem;
}
.posts__lists-card {
    border: 2px solid var(--color-black);
    width: var(--container-width-lg);
    margin-right: 5%;
    border-radius: 1rem;
}
.card__profile-avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    border: 2px solid var(--color-black);
    border-radius: 50%;
    overflow: hidden;
}
.card__profile-avatar img {
    width: 100%;
    height: fit-content;
}
.posts__card-profile {
    display: flex;
    padding-top: 0.5rem;
    padding-left: 1rem;
}
.card__profile-about {
    margin-top: 1rem;
    margin-left: 2rem;
}
.posts__card-image {
    width: var(--container-width-md);
    overflow: hidden;
    height: 15rem;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
}
.posts__card-content {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    overflow: hidden;
    height: 2rem;
    width: var(--container-width-lg);
    margin-left: 5%;
}
.posts__card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.buttons__like-card {
    display: flex;
    padding-left: 3rem;
    padding-top: 0.5rem;
}
.buttons__like-card button {
    border: transparent;
    background: transparent;
    font-weight: bold;
    padding-right: 1rem;
    cursor: pointer;
}
.buttons__comment-card {
    display: flex;
    padding-left: 3rem;
    padding-top: 0.5rem;
}
.buttons__comment-card button {
    border: transparent;
    background: transparent;
    font-weight: bold;
    padding-right: 1rem;
    cursor: pointer;
}