@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-white-light: #e7e7e7;
  --color-black: #0f0f0f;
  --color-black-light: rgba(54, 54, 54, 0.8);
  --color-blue: #154d8d;
  --color-blue-light: #57d6df;
  --color-green: #11921b;
  --color-secondary: #ff5b0f;
  --color-secondary-light: #ff915e;
  --color-red: #ff0f0f;
  --color-yellow: #fdba00;

  --transition: all 500ms ease;

  --container-width-df: 100%;
  --container-width-lg: 86%;
  --container-width-md: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-black);
}
